<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyc.dao.UserDao">
<!--设置entity类和数据库中表的字段一一对应，注意数据库字段和entity类中的字段名称不致，此处一定要！-->
	<resultMap id="BaseResultMap" type="com.lyc.entity.UserEntity">
		<id column="id" property="userId" jdbcType="INTEGER" />
		<result column="user_name" property="userName" jdbcType="CHAR" />
		<result column="user_password" property="userPassword" jdbcType="CHAR" />
	</resultMap>
	<!-- 查询单条记录 -->
	<select id="selectUserById" parameterType="int" resultMap="BaseResultMap">
		SELECT * FROM user WHERE id = #{userId}
	</select>
</mapper>